{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block extra_meta %}
  <!-- Metatags for engine search optmization -->
  <meta name="description" content="Taste the best Brazilian finger foods in Dublin. Delivered frozen to your doorstep, our comfort foods are perfect for parties and events and as a quick snack.">
  <meta name="keywords" content="Brazilian appetizers, frozen Brazilian snacks, finger foods from Brazil, Brazilian cuisine Dublin, party appetizers Dublin, Brazilian snacks Dublin">
{% endblock %}

{% block content %}
<div class="d-flex flex-column container-fluid m-0 p-0">
  <div class="row w-100">
    <div class="col-12">
      <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ MEDIA_URL }}carousel/slide_1.webp" class="d-block w-100" alt="Meet your new BFFs: Comfort foods for every occasion, always ready to delight!">
          </div>
          <div class="carousel-item">
            <img src="{{ MEDIA_URL }}carousel/slide_2.webp" class="d-block w-100" alt="Fried delights or baked goodies, tailored to your taste—vegan, dairy-free, gluten-free, and always irresistible!
            ">
          </div>
          <div class="carousel-item">
            <img src="{{ MEDIA_URL }}carousel/slide_3.webp" class="d-block w-100" alt="From freezer to table in minutes: Perfect for gatherings, parties, or cozy weekends. Order online now and indulge!">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHero" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHero" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12 col-netflix-style">
      <h1 class="text-center pb-1">Best Sellers</h1>
      <!-- Netflix Style row - Best Sellers -->
      <div class="row-netflix-style mx-5">
        {% for product in best_seller_products %}
        <div class="card">
          <div class="card-body text-center">
            <img src="{{ product.image_widget.url }}" class="card-img-top" alt="{{ product.short_widget_name }}">
            <h4 class="mt-2"><a href="{% url 'product_detail' product.product_id %}">{{ product.short_widget_name }}</a></h4>
            {% if "Vegan" in product.dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                 <p class="fs-4"><span class="text-green">Vegan</span> | Gluten-Free</p>
            {% elif "Vegan" in product.dietary_categories_names %}
                 <p class="fs-4"><span class="text-green">Vegan</span></p>
            {% else %}
                <p class="fs-4">{{ product.dietary_categories_names|join:" | " }}</p>
            {% endif %}
            {% if product.discount_price_batch %}
            <p class="card-text">
                <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                <span class="text-green fs-4"><strong>&euro;{{ product.discount_price_batch.sale_price }}</strong></span>
            </p>
            {% elif product.original_price_batch %}
                <p class="card-text">
                    <span class="fs-4"><strong>&euro;{{ product.original_price_batch.sale_price }}</strong></span>
                </p>
            {% else %}
                <p class="card-text">Out of Stock</p>
            {% endif %}    
            <a href="{% url 'product_detail' product.product_id %}" class="btn btn-dk-orange">View More</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-netflix-style">
      <h1 class="text-center pb-1">Special Offers</h1>
      <!-- Netflix Style row - Special Offers -->
      <div class="row-netflix-style mx-5">
        {% for product in offer_products %}
        <div class="card">
          <div class="card-body text-center">
            <img src="{{ product.image_widget.url }}" class="card-img-top" alt="{{ product.short_widget_name }}">
            <h4 class="mt-2"><a href="{% url 'product_detail' product.product_id %}">{{ product.short_widget_name }}</a></h4>
            {% if "Vegan" in product.dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                 <p class="fs-4"><span class="text-green">Vegan</span> | Gluten-Free</p>
            {% elif "Vegan" in product.dietary_categories_names %}
                 <p class="fs-4"><span class="text-green">Vegan</span></p>
            {% else %}
                <p class="fs-4">{{ product.dietary_categories_names|join:" | " }}</p>
            {% endif %}
            {% if product.discount_price_batch %}
            <p class="card-text">
                <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                <span class="text-green fs-4"><strong>&euro;{{ product.discount_price_batch.sale_price }}</strong></span>
            </p>
            {% elif product.original_price_batch %}
                <p class="card-text">
                    <span class="fs-4"><strong>&euro;{{ product.original_price_batch.sale_price }}</strong></span>
                </p>
            {% else %}
                <p class="card-text">Out of Stock</p>
            {% endif %} 
            <a href="{% url 'product_detail' product.product_id %}" class="btn btn-dk-orange">View More</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>


{% block postloadjs %}
<script>
  var carouselHero = document.querySelector('#carouselHero');
  var carousel = new bootstrap.Carousel(carouselHero, {
    interval: 4000,
    wrap: true
  })
</script>
{% endblock %}

{% endblock %}