asgiref==3.8.1
awscli==1.36.27
boto3==1.35.86
botocore==1.35.86
colorama==0.4.6
dj-database-url==0.5.0
Django==4.2.16
django-allauth==65.3.0
django-crispy-forms==2.3
django-heroku==0.3.1
django-storages==1.14.4
docutils==0.16
gunicorn==23.0.0
jmespath==1.0.1
pillow==11.0.0
psycopg2==2.9.10
pyasn1==0.6.1
rsa==4.7.2
s3transfer==0.10.4
sqlparse==0.5.3
