{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-sm-5 my-3 my-lg-4">
    <div class="col-12 col-lg-12">
        <h3 class="text-center my-3">Admin Panel</h3>
    </div>
    <div class="col-12 col-lg-12">
        <h5 class="text-center text-dk-orange my-3">Manage Shop</h5>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-12  col-md-6 col-lg-2 m-3">
            <div class="text-center">
                <a href="{% url 'manage_batches' %}" class="btn btn-danger">Manage Batches</a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 m-3">
            <div class="text-center">
                <a href="{% url 'add_batch' %}" class="btn btn-success">Add a Batch</a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 m-3">
            <div class="text-center">
                <a href="{% url 'add_batch' %}" class="btn btn-primary">Set a Best Seller</a>
            </div>
        </div>
        <div class="col-12  col-md-6 col-lg-2 m-3">
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-invert-orange">Go back to Home</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6 px-2 my-5">
        <div class="accordion" id="InfoAccordion">
            <div class="accordion" id="accordionInfo">
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Manage Your Store
                        </button>
                    </h5>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="text-grey fs-7">
                                As a store owner, you can easily manage your product batches.
                                Existing batches are displayed in the table below, where you can view details such as
                                batch numbers, expiry dates, quantities, and prices.
                                Please note that a batch with an expired expiry date will be automatically removed from
                                the system.
                            </p>
                            <p class="text-grey fs-10">
                                <span class="text-muted">(This feature will not be implemented in this educational
                                    version of the project,
                                    but should be available in the real-world version for future use, allowing the
                                    system to erase expired products from the database.)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5"></div>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% endblock %}