{% extends "base.html" %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center expand-sm my-3 vh-100">
        <div class="overlay"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <div class="text-center">
                    <h3>Apply Discount</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dk-orange m-3">Apply Discount</button>
                        <div class="my-2">
                            <a href="{% url 'shop_admin' %}" class="btn btn-invert-orange"><i class="fas fa-chevron-left"></i>Go back to Shop Admin</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}