html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.logo {
    height: 60px;
}

.logo-font {
    font-family: 'Opens Sans', sans-serif;
    font-weight: 400;
    font-size: large;
}

.navbar-light,
.navbar-nav,
.nav-link {
    color: #e55125 !important;
}

.navbar-toggler {
    border-color: #e55125 !important;
}

.navbar-toggler:focus,
.nav-link:focus, 
.nav-link:hover, 
.nav-link:active {
    color: #ffa60b !important;
}

.navbar-light,
.navbar-toggler {
    color: rgba(255,166,11,.9);
    border-color: rgba(229, 81, 37, 0.9);
}

.form-control:focus,
.btn-close:focus,
.btn-close:focus-visible {
    color: #555555;
    background-color: #fff;
    border-color: #ffa60b;
    box-shadow: 0 0 0 .25rem rgba(255,166,11,.9);
}

.bg-theme-sec {
    background-color:#ffa60b
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.carousel-inner {
    width: 100vw;
    overflow: hidden;
}
  
.carousel-item img {
    object-fit: cover; 
    width: 100vw;
    max-height: 350px;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255,166,11,.9);
}

.btn:hover {
    color: #ffa60b;
}

.btn-invert-orange {
    background: white;
    color: #e55125;
    border-color: #e55125;
}

.btn-invert-orange:hover {
    background: #e55125;
    color: white;
}

.btn-dk-orange {
    background: #e55125;
    color: white;
}

.btn-dk-orange:hover {
    background: white;
    color: #e55125;
    border-color: #e55125;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-dk-orange {
    color: #e55125;
}

.border-dk-orange {
    border: 1px solid #e55125 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-gray {
    background: #B7B7B7 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.card-long-img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    aspect-ratio: 16 / 9;
}

.card-long {
    padding: 1em;
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgba(224, 79, 36,.9);
    border-radius: .35rem;
    flex-shrink: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-long a:hover {
    color:#e55125;
}

.card {
    flex-shrink: 0;
    width: 350px;
    height: 550px;
    border: 1px solid rgba(224, 79, 36,.9);
    border-radius: .35rem;
}

.card-text {
    font-family: 'Opens Sans', sans-serif;
}

.sort-box {
    height: 2.5em;
    font-family: 'Opens Sans', sans-serif;
    font-size: 1em;
    color: #555;
    background-color: white;
    border-radius: calc(.25rem - 1px);
}

.border-info {
    border-color: #e55125 !important;
}

.card-img-top {
    /*! min-height: 20em; */
    width: 300px !important;
    object-fit: contain !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.strikethrough {
    text-decoration: line-through;
    color: red;
}

.text-green {
    color: #0dc143;
}

.row {
    width: 100%;
}

.row-netflix-style {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 50px;
    height: 550px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.row-netflix-style::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.col-netflix-style {
    height: max-content;
}

.accordion-button:not(.collapsed) {

    color: #e55125;
    background-color: #fcefda
}

.accordion-button:focus {
    border-color: #ffa60b;
    box-shadow: 0 0 0 .25rem rgba(229,81,37,.7);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='darkorange' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.f-pdetail {
    font-size: 22px;
    margin-bottom: 8px;
}

table {
    width:100%; 
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
    font-size: 0.8em;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d8d6d6;
}

tfoot {
    font-size: 0.9em;
    text-align: center;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.dropdown-item:active {
    background-color: #e55125 !important;
}

.dropdown-item:hover {
    color: white;
    background-color: #ffa60b !important;
}

.img-fluid-60pc {
    max-width: 60%;
}

/* Footer */
.text-white-footer {
    color: #fafafafa;
    text-shadow:  0 0 2px rgba(0, 0, 0, 0.8);
}

.icon-footer {
    color: #fafafafa;
    text-shadow:  0 0 2px rgba(0, 0, 0, 0.8);
}

.icon-footer:hover {
    color: black;
    text-shadow:  0 0 2px rgba(255, 255, 255, 0.8);
}

.footer-address {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link,
footer a {
    text-decoration: none !important;
    color: black;
}

.footer-link:hover,
footer a:hover {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.486);
}

.card a:hover {
    color: #e55125;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    display: block;
}

.toast-capper {
    height: 2px;
    height: 3px;
    margin-top: -2px;
}

.custom-toast {
    overflow: visible;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.w-input {
    min-width: 25% !important;
}

.w-input-50 {
    max-width: 50% !important;
    min-width: 15% !important;
}

/* -------------------------------- Media Queries */


@media (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

#signup_form ul {
    list-style: none;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Input field arrows Chrome, Safari e Edge */
input[type="number"],
input[type="range"],
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

/* Input field arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]:disabled::-webkit-outer-spin-button,
input[type="number"]:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* fixed top navbar only on medium and up */
@media (min-width: 1600px) {
    #carouselHero {
        background-color: #e55125;
    }

    .carousel-item img {
        object-fit: contain!important;
    }
}

@media (min-width: 1200px) {
    .f-pdetail {
      font-size: calc(1rem + .3vw) !important;
      margin-bottom: 0.7em;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 84px;
    }

    .carousel-item img {
        object-fit: cover; 
        max-height: 400px;
    }

    .f-pdetail {
        font-size: calc(1.275rem + .3vw) !important;
    }
    
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 50px;
    }
}

@media (max-width: 800px) {

    .expand-sm {
        height: 65vh;
    }

    .newsletter-form {
        text-align: center;
    }

    .newsletter-form .form-control {
        max-width: 100%;
        width: 100%;
    }

    .newsletter-form button {
        display: block;
        margin: 0 auto;
    }
    
    .accordion-body {
        padding: 0;
    }

    table {
        font-size: 0.9em;
    }
    
    th, td {
        padding: 10px;
    }

    tfoot {
        font-size: 0.9em;
    }
    
}

@media (max-width: 561px) {
    
    .header-container {
        padding-top: 63px;
    }

    .card-img-top {
        width: 200px 
    }

    .card {
        width: fit-content;
        height: fit-content;
    }

    .w-input,
    .w-input-50 {
        min-width: 25% !important;
    }
}
