{% load static %}
<footer class="bg-gray">
    <div class="container pt-4">
        <div class="row justify-content-center">
            <!-- Newsletter sign up -> credit: https://bootsnipp.com/snippets/6XVAB -->
            <div class="col-md-4 col-12 newsletter">
                <!-- Mailchimp form -->
                <form method="POST" action="https://herokuapp.us8.list-manage.com/subscribe/post?u=7690e80b229aa426baa2a6911&amp;id=eed3519497&amp;f_id=008409e1f0" class="newsletter-form validate" target="_blank" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                    <h4 class="text-white-footer">Find out what about latested BFF!</h4>
                    <p class="text-black fs-5">Subscribe to our monthly newsletter</p>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL" class="visually-hidden">Email Address:</label>
                        <input type="email" name="EMAIL" id="mce-EMAIL" class="required email" placeholder="Enter your email" required="">
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <!-- Hidden field to prevent bot signups -->
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_7690e80b229aa426baa2a6911_eed3519497" tabindex="-1" value="">
                    </div>
                    <button type="submit" class="btn btn-black my-2 p-1">Subscribe</button>
                </form>
            </div>
            <!-- links -->
            <div class="col-md-4 col-12 text-center">
                <div>
                    <h4 class="text-white-footer">Information</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home' %}" class="footer-links">Home</a></li>
                        <li><a href="{% url 'products' %}" class="footer-links">Shop</a></li>
                        <li><a href="{% url 'faqs' %}" class="footer-links">FAQs</a></li>
                        <li><a href="{% url 'contacts' %}" class="footer-links">Contact Us</a></li>
                        <li><a href="https://www.freeprivacypolicy.com/live/8d082c4d-78cf-425d-beb6-182e5dddac93" target="_blank" class="footer-links">Privacy
                                Policy</a></li>
                        <li><a href="{% static 'docs/terms_and_conditions.pdf' %}" target="_blank" class="footer-links">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <!-- Address -->
                <h4 class="text-white-footer">Visit us for a delicious experience!</h4>
                <div class="footer-address">
                    <a href="https://maps.app.goo.gl/X9xdtvN4RoMJQg6h9" target="_blank" rel="noopener" class="address-link" title="BFFs Dublin">
                        <p class="footer-link mb-2"><i class="fas fa-map-marker-alt mb-3" aria-hidden="true"></i> 39 Gulistan Cottages,
                            Rathmines, Dublin</p>
                    </a>
                </div>
                <!-- Social Media Icons -->
                <h4 class="text-white-footer">Join us on social media!</h4>
                <div>
                    <a href="https://www.facebook.com/people/BFFs-Brazilian-Finger-Foods/61571720907799/" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)" title="Visit our Facebook page">
                        <i class="fa-brands fa-facebook icon-footer fs-2" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/hpesciotti" target="_blank" rel="noopener" aria-label="Visit our GitHub profile (opens in a new tab)" title="Visit our GitHub profile" class="mx-3">
                        <i class="fa-brands fa-github icon-footer fs-2" aria-hidden="true"></i>
                    </a>
                    <a href="https://ie.linkedin.com/in/henrique-pesciotti-694404134" target="_blank" rel="noopener" aria-label="Visit our LinkedIn profile (opens in a new tab)" title="Visit our LinkedIn profile">
                        <i class="fa-brands fa-linkedin icon-footer fs-2" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Credits -->
        <div class="row text-center pt-2 justify-content-end">
            <a href="https://github.com/hpesciotti/bffs-brazilian-finger-foods/blob/main/README.md" target="_blank" rel="noopener" class="address-link text-center" title="BFFs README">
                <p class="footer-link">© Developed by Henrique Pesciotti, for educational purposes only.</p>
            </a>
        </div>
    </div>
</footer>