<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dk-orange me-5" href="#" id="all-products-link" data-bs-toggle="dropdown">
                All Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="?sort=price&direction=asc" class="dropdown-item">By Price</a></li>
                <li><a href="?sort=rating&direction=desc" class="dropdown-item">Deep Fried Delights</a></li>
                <li><a href="?sort=category&direction=asc" class="dropdown-item">Oven Bites</a></li>
                <li><a href="" class="dropdown-item">All Products</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dk-orange me-5" href="#" id="all-products-link" data-bs-toggle="dropdown">
                By Allergen
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="?sort=price&direction=asc" class="dropdown-item">Dairy-Free</a></li>
                <li><a href="?sort=rating&direction=desc" class="dropdown-item">Gluten-Free</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dk-orange me-5" href="#" id="clothing-link" data-bs-toggle="dropdown">
                Vegan Appetizers
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dk-orange me-5" href="#" id="homeware-link" data-bs-toggle="dropdown">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <li><a href="?category=bed_bath" class="dropdown-item">Vegan</a></li>
                <li><a href="?category=kitchen_dining" class="dropdown-item">Dairy-Free</a></li>
                <li><a href="?category=bed_bath,kitchen_dining" class="dropdown-item">Gluten-Free</a></li>
                <li><a href="?sort=rating&direction=desc" class="dropdown-item">Deep Fried Delights</a></li>
                <li><a href="?sort=category&direction=asc" class="dropdown-item">Oven Bites</a></li>
            </ul>
        </li>

    </ul>
</div>