{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-4">

    <h3 class="text-center my-3">{{ product.short_widget_name }}</h3>

    <div class="col-xl-8 col-12">
        <div class="row justify-content-center">
            <div class="col-md-7 col-12">
                <img src="{{ product.image_large.url }}" class="card-long-img" alt="{{ product.short_widget_name }}">
            </div>
            <div class="col-md-5 col-12 px-3 align-self-center">
                {% if "Vegan" in dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                        <p class="fs-4">Dietary Category: <span class="text-green">Vegan</span> | Gluten-Free</p>
                {% elif "Vegan" in dietary_categories_names %}
                        <p class="fs-4">Dietary Category: <span class="text-green">Vegan</span></p>
                {% else %}
                    <p class="fs-4">>Dietary Category: {{ dietary_categories_names|join:" | " }}</p>
                {% endif %}
                    <p class="fs-4">Allergens: {{ product.allergens }}</p>
                    <p class="fs-4">Suitable for: {{ product.get_cooking_process_display }}</p>
                    <p class="fs-4">Weight: 500g</p>
                    <p class="fs-4">Storage Condition: Frozen</p>
                {% if discount_price_batch.sale_price %}
                    <p class="card-text fs-4">
                        Price: <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                        <span class="text-green fs-3"><strong>&euro;{{ discount_price_batch.sale_price }}</strong></span>
                    </p>
                    {% elif original_price_batch %}
                        <p class="card-text fs-4">
                            Price: <span class="fs-4"><strong>&euro;{{ original_price_batch.sale_price }}</strong></span>
                        </p>
                {% else %}
                    <p class="card-text">Out of Stock</p>
                {% endif %}    
                <a href="#" class="btn btn-dk-orange">Add to Cart</a>
            </div>
        </div>
    </div>
    
    <div class="col-xl-8 col-md-10 col-12">
        <h4 class="text-center fw-bold grey m-3">Product Information</h4>
        <div class="accordion" id="InfoAccordion">
            <div class="accordion" id="accordionInfo">
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Ingredients
                    </button>
                  </h5>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>{{ product.ingredients |safe }}</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Description
                    </button>
                  </h5>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ product.description |safe }}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Nutritional Chart
                    </button>
                  </h5>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table style="width:100%; border-collapse: collapse; text-align: left;">
                            <thead>
                                <tr>
                                    <th>Nutritional Information</th>
                                    <th>Per 100g</th>
                                    <th>Per Serving (30g)</th>
                                    <th>% RI* (Per Serving)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Energy</td>
                                    <td>{{ product.energy_kj }} kJ / {{ product.energy_kcal }} kcal</td>
                                    <td>
                                        {{ product.energy_kj|floatformat:2|multiply:0.3 }} kJ / 
                                        {{ product.energy_kcal|floatformat:2|multiply:0.3 }} kcal
                                    </td>
                                    <td>{{ product.energy_kcal|floatformat:2|multiply:0.3|divide:2000|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Fat</td>
                                    <td>{{ product.fat }} g</td>
                                    <td>{{ product.fat|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.fat|floatformat:2|multiply:0.3|divide:70|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>- of which saturates</td>
                                    <td>{{ product.saturated_fat }} g</td>
                                    <td>{{ product.saturated_fat|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.saturated_fat|floatformat:2|multiply:0.3|divide:20|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Carbohydrates</td>
                                    <td>{{ product.carbohydrates }} g</td>
                                    <td>{{ product.carbohydrates|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.carbohydrates|floatformat:2|multiply:0.3|divide:260|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>- of which sugars</td>
                                    <td>{{ product.sugars }} g</td>
                                    <td>{{ product.sugars|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.sugars|floatformat:2|multiply:0.3|divide:90|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Protein</td>
                                    <td>{{ product.protein }} g</td>
                                    <td>{{ product.protein|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.protein|floatformat:2|multiply:0.3|divide:50|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Salt</td>
                                    <td>{{ product.salt }} g</td>
                                    <td>{{ product.salt|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.salt|floatformat:2|multiply:0.3|divide:6|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Fiber</td>
                                    <td>{{ product.fiber }} g</td>
                                    <td>{{ product.fiber|floatformat:2|multiply:0.3 }} g</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" style="text-align: left; font-size: 0.9em; padding-top: 10px;">
                                        *RI: Reference Intake of an average adult (8400 kJ / 2000 kcal).
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% block postloadjs %}
{% endblock %}

{% endblock %}