{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-xl-8 col-12">
        <!-- Cards on large screens -->
        <div class="mx-5 d-none d-md-block">
            <h1 class="text-center pb-1">All Products</h1>
            {% for product in products %}
            <div class="card-long my-2">
                <div class="card-long-body">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <img src="{{ product.image_large.url }}" class="card-long-img" alt="{{ product.short_widget_name }}">
                        </div>
                        <div class="col-7 px-2">
                            <h4 class="mt-2">{{ product.full_name }}</h4>
                            {% if "Vegan" in product.dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                                    <p class="fs-4"><span class="text-green">Vegan</span> | Gluten-Free</p>
                            {% elif "Vegan" in product.dietary_categories_names %}
                                    <p class="fs-4"><span class="text-green">Vegan</span></p>
                            {% else %}
                                <p class="fs-4">{{ product.dietary_categories_names|join:" | " }}</p>
                            {% endif %}
                                <p class="fs-5">Allergens: {{ product.allergens }}</p>
                                <p class="fs-5">Ingredients: {{ product.ingredients |safe }}</p>
                            {% if product.discount_price_batch %}
                            <p class="card-text">
                                <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                                <span class="text-green fs-4"><strong>&euro;{{ product.discount_price_batch.sale_price }}</strong></span>
                            </p>
                            {% elif product.original_price_batch %}
                                <p class="card-text">
                                    <span class="fs-4"><strong>&euro;{{ product.original_price_batch.sale_price }}</strong></span>
                                </p>
                            {% else %}
                                <p class="card-text">Out of Stock</p>
                            {% endif %}    
                            <a href="#" class="btn btn-dk-orange">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    
        <!-- Cards on small screens -->
        <div class="mx-2 d-block d-md-none">
            <h1 class="text-center pb-1">All Products</h1>
            {% for product in products %}
            <div class="card mx-auto mb-3">
                <div class="card-body text-center">
                    <img src="{{ product.image_widget.url }}" class="card-img-top" alt="{{ product.short_widget_name }}">
                    <h4 class="mt-2">{{ product.short_widget_name }}</h4>
                    {% if "Vegan" in product.dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                        <p class="fs-4"><span class="text-green">Vegan</span> | Gluten-Free</p>
                    {% elif "Vegan" in product.dietary_categories_names %}
                        <p class="fs-4"><span class="text-green">Vegan</span></p>
                    {% else %}
                        <p class="fs-4">{{ product.dietary_categories_names|join:" | " }}</p>
                    {% endif %}
                    {% if product.discount_price_batch %}
                    <p class="card-text">
                        <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                        <span class="text-green fs-4"><strong>&euro;{{ product.discount_price_batch.sale_price }}</strong></span>
                    </p>
                    {% elif product.original_price_batch %}
                        <p class="card-text">
                            <span class="fs-4"><strong>&euro;{{ product.original_price_batch.sale_price }}</strong></span>
                        </p>
                    {% else %}
                        <p class="card-text">Out of Stock</p>
                    {% endif %}    
                    <a href="#" class="btn btn-dk-orange">Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% block postloadjs %}
{% endblock %}

{% endblock %}