{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="product-container col-8">
        <div class="row mt-1 mb-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector" name="sort_by" class="sort-box border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="min_price_asc" {% if current_sorting == 'min_price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="min_price_desc" {% if current_sorting == 'min_price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted fs-4 mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">Home</a> |
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for
                    "{{ search_term }}"{% endif %}</span>
                </p>
            </div>   
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-12">
        <!-- Cards on large screens -->
        <div class="mx-5 d-none d-md-block">
            {% for product in products %}
            <div class="card-long my-2">
                <div class="card-long-body">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <img src="{{ product.image_large.url }}" class="card-long-img" alt="{{ product.short_widget_name }}">
                        </div>
                        <div class="col-7 px-4">
                            <h4 class="mt-2"><a href="{% url 'product_detail' product.product_id %}">{{ product.full_name }}</a></h4>
                            {% if "Vegan" in product.dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                                    <p class="fs-4"><span class="text-green">Vegan</span> | Gluten-Free</p>
                            {% elif "Vegan" in product.dietary_categories_names %}
                                    <p class="fs-4"><span class="text-green">Vegan</span></p>
                            {% else %}
                                <p class="fs-4">{{ product.dietary_categories_names|join:" | " }}</p>
                            {% endif %}
                                <p class="fs-5">Allergens: {{ product.allergens }}</p>
                                <p class="fs-5">Ingredients: {{ product.ingredients |safe }}</p>
                            {% if product.discount_price_batch %}
                            <p class="card-text">
                                <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                                <span class="text-green fs-4"><strong>&euro;{{ product.discount_price_batch }}</strong></span>
                            </p>
                            {% elif product.original_price_batch %}
                                <p class="card-text">
                                    <span class="fs-4"><strong>&euro;{{ product.original_price_batch }}</strong></span>
                                </p>
                            {% else %}
                                <p class="card-text">Out of Stock</p>
                            {% endif %}    
                            <a href="" class="btn btn-dk-orange">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <!-- Cards on small screens -->
        <div class="mx-2 d-block d-md-none">
            {% for product in products %}
            <div class="card mx-auto mb-3">
                <div class="card-body text-center">
                    <img src="{{ product.image_widget.url }}" class="card-img-top" alt="{{ product.short_widget_name }}">
                    <h4 class="mt-2"><a href="{% url 'product_detail' product.product_id %}">{{ product.short_widget_name }}</a></h4>
                    {% if "Vegan" in product.dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                        <p class="fs-4"><span class="text-green">Vegan</span> | Gluten-Free</p>
                    {% elif "Vegan" in product.dietary_categories_names %}
                        <p class="fs-4"><span class="text-green">Vegan</span></p>
                    {% else %}
                        <p class="fs-4">{{ product.dietary_categories_names|join:" | " }}</p>
                    {% endif %}
                    {% if product.discount_price_batch %}
                    <p class="card-text">
                        <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                        <span class="text-green fs-4"><strong>&euro;{{ product.discount_price_batch }}</strong></span>
                    </p>
                    {% elif product.original_price_batch %}
                        <p class="card-text">
                            <span class="fs-4"><strong>&euro;{{ product.original_price_batch }}</strong></span>
                        </p>
                    {% else %}
                        <p class="card-text">Out of Stock</p>
                    {% endif %}    
                    <a href="#" class="btn btn-dk-orange">Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0, 0);
        });
    
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
    
            var selectedVal = selector.val();
            if (selectedVal !== "reset") { 
                var sortOption = selectedVal.split("_")[0]; 
                var sortDirection = selectedVal.split("_")[1];
    
                currentUrl.searchParams.set("sort_by", sortOption);
                currentUrl.searchParams.set("sort", sortDirection);
    
                window.location.href = currentUrl.href;
            } else {
                currentUrl.searchParams.delete("sort_by");
                currentUrl.searchParams.delete("sort");
    
                window.location.href = currentUrl.href;
            }
        });
    </script>    
{% endblock %}

{% endblock %}