{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-sm-5 my-3 my-lg-4">

    <h3 class="text-center mb-2">{{ product.short_widget_name }}</h3>

    <div class="col-xl-8 col-12">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-12">
                <img src="{{ product.image_large.url }}" class="card-long-img" alt="{{ product.short_widget_name }}">
            </div>
            <div class="col-md-5 col-sm-10 col-12 px-3 align-self-center">
                {% if "Vegan" in dietary_categories_names and "Gluten-Free" in product.dietary_categories_names %}
                        <p class="f-pdetail mt-2 mt-xl-0">Dietary Category: <span class="text-green">Vegan</span> | Gluten-Free</p>
                {% elif "Vegan" in dietary_categories_names %}
                        <p class="f-pdetail mt-2 mt-xl-0">Dietary Category: <span class="text-green">Vegan</span></p>
                {% else %}
                    <p class="f-pdetail mt-2 mt-xl-0">Dietary Category: {{ dietary_categories_names|join:" | " }}</p>
                {% endif %}
                    <p class="f-pdetail">Allergens: {{ product.allergens }}</p>
                    <p class="f-pdetail">Suitable for: {{ product.get_cooking_process_display }}</p>
                    <p class="f-pdetail">Weight: 500g</p>
                    <p class="f-pdetail">Storage Condition: Frozen</p>
                {% if discount_price_batch %}
                    <p class="f-pdetail">
                        Price: <span class="strikethrough fs-6">&euro;{{ product.price }}</span>
                        <span class="text-green fs-3"><strong>&euro;{{ discount_price_batch }}</strong></span>
                    </p>
                {% elif original_price_batch %}
                    <p class="f-pdetail">
                        Price: <span class="f-pdetail"><strong>&euro;{{ original_price_batch }}</strong></span>
                    </p>
                {% else %}
                    <p class="card-text">Out of Stock</p>
                {% endif %}         

                <form class="form" action="{% url 'add_to_bag' batch.product.product_id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="f-pdetail">Quantity:</p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-dk-orange rounded-0" data-item_id="{{ batch.product.product_id }}" id="decrement-qty_{{ batch.product.product_id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input w-input text-center" type="number"
                                        name="quantity" value="1" min="1" max="{{ batch.product.product_id }}" data-item_id="{{ batch.product.product_id }}" id="id_qty_{{ batch.product.product_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-dk-orange rounded-0"
                                            data-item_id="{{ batch.product.product_id }}" id="increment-qty_{{ batch.product.product_id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 mx-auto">
                            <a href="{% url 'products' %}" class="btn fs-4 btn-invert-orange m-1">
                                <span class="fs-4"><i class="fas fa-chevron-left"></i> Keep Shopping</span>
                            </a>
                            <button type="submit" class="btn fs-4 btn-dk-orange m-1">Add to Cart</button>
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <input type="hidden" name="name" value="{{ product.short_widget_name }}">
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-xl-8 col-md-10 col-12">
        <h4 class="text-center fw-bold grey m-3">Product Information</h4>
        <div class="accordion" id="InfoAccordion">
            <div class="accordion" id="accordionInfo">
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Ingredients
                    </button>
                  </h5>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>{{ product.ingredients |safe }}</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Description
                    </button>
                  </h5>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ product.description |safe }}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Nutritional Chart
                    </button>
                  </h5>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nutritional Information</th>
                                    <th>Per 100g</th>
                                    <th>Per Serving (30g)</th>
                                    <th>% RI* (Per Serving)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Energy</td>
                                    <td>{{ product.energy_kj }} kJ / {{ product.energy_kcal }} kcal</td>
                                    <td>
                                        {{ product.energy_kj|floatformat:2|multiply:0.3 }} kJ / 
                                        {{ product.energy_kcal|floatformat:2|multiply:0.3 }} kcal
                                    </td>
                                    <td>{{ product.energy_kcal|floatformat:2|multiply:0.3|divide:2000|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Fat</td>
                                    <td>{{ product.fat }} g</td>
                                    <td>{{ product.fat|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.fat|floatformat:2|multiply:0.3|divide:70|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>- of which saturates</td>
                                    <td>{{ product.saturated_fat }} g</td>
                                    <td>{{ product.saturated_fat|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.saturated_fat|floatformat:2|multiply:0.3|divide:20|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Carbohydrates</td>
                                    <td>{{ product.carbohydrates }} g</td>
                                    <td>{{ product.carbohydrates|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.carbohydrates|floatformat:2|multiply:0.3|divide:260|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>- of which sugars</td>
                                    <td>{{ product.sugars }} g</td>
                                    <td>{{ product.sugars|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.sugars|floatformat:2|multiply:0.3|divide:90|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Protein</td>
                                    <td>{{ product.protein }} g</td>
                                    <td>{{ product.protein|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.protein|floatformat:2|multiply:0.3|divide:50|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Salt</td>
                                    <td>{{ product.salt }} g</td>
                                    <td>{{ product.salt|floatformat:2|multiply:0.3 }} g</td>
                                    <td>{{ product.salt|floatformat:2|multiply:0.3|divide:6|multiply:100|floatformat:1 }}%</td>
                                </tr>
                                <tr>
                                    <td>Fiber</td>
                                    <td>{{ product.fiber }} g</td>
                                    <td>{{ product.fiber|floatformat:2|multiply:0.3 }} g</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        *RI: Reference Intake of an average adult (8400 kJ / 2000 kcal).
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

{% endblock %}